<!DOCTYPE html>
<html>
  <head>
    <meta http-eqiv="content-type" content="text/html;charset=utf-8">
    <title>Go by Example</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2>Go by Example</h2>
      <ul>
      {{range .}}
        <li><a href="{{.Id}}.html">{{.Name}}</a></li>
      {{end}}
      </ul>
    </div>
  </body>
</html>
