<!DOCTYPE html>
<html>
  <head>
    <meta http-eqiv="content-type" content="text/html;charset=utf-8">
    <title>Go by Example</title>
    <link rel=stylesheet href="site.css">
  </head>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34996217-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <body>
    <div id="intro">
      <h2>Go by Example</h2>
      <p>
        <a href="http://golang.org">Go</a> is an
        open source programming language designed for
        building simple, fast, and reliable software.
      </p>

      <p>
        This is a hands-on introduction to Go. Programmers
        learn to program by reading and writing programs,
        so <em>Go by Example</em> teaches Go with example
        programs. Each example gives you a new tool for
        writing your own Go code:
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.Id}}">{{.Name}}</a></li>
      {{end}}
      </ul>
      <p class="footer">
        Follow <a href="https://twitter.com/gobyexample">@gobyexample</a> for updates. <a href="https://github.com/mmcgrana/gobyexample">Source</a> &amp; <a href="https://github.com/mmcgrana/gobyexample#license">license</a>.
      </p>
    </div>
  </body>
</html>
