/* CSS reset: https://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Layout and typography */
body {
  font-family: 'Georgia', serif;
  font-size: 16px;
  line-height: 20px;
}
em {
  font-style: italic;
}
h2 {
  font-size: 32px;
  line-height: 40px;
  margin-top: 40px;
}
h2 a {
  text-decoration: none;
}
div.example {
  width: 900px;
  min-width: 900px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}
div.example .seg-grid {
  display: grid;
  grid-template-columns: 420px 480px;
  column-gap: 0px;
  row-gap: 0px;
  margin-top: 15px;
  margin-bottom: 20px;
}
p.next {
  margin-bottom: 20px;
}
p.footer {
  font-size: 75%;
}
div#intro {
  width: 420px;
  min-width: 420px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}
div#intro p {
  padding-top: 20px;
}
div#intro ul {
  padding-top: 20px;
}
.seg-grid .docs {
  width: 420px;
  max-width: 420px;
  min-width: 420px;
  min-height: 5px;
  text-align: left;
  grid-column: 1;
}
.seg-grid .docs p {
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 15px;
}
.seg-grid .code {
  width: 480px;
  max-width: 480px;
  min-width: 480px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  grid-column: 2;
}
.seg-grid .code.leading {
  padding-bottom: 11px;
}
pre, code {
  font-size: 14px; line-height: 18px;
  font-family: 'Menlo', 'Monaco', 'Consolas', 'Lucida Console', monospace;
}
img.copy, img.run {
  height: 16px;
  width: 16px;
  float: right
}
img.copy, img.run {
  cursor: pointer;
}
img.copy {
  margin-right: 4px;
}


/* Colors: light mode */
body {
  background-color: #ffffff;
  color: #252519;
}
.seg-grid .code.empty {
  background: #ffffff;
}
a, a:visited {
  color: #261a3b;
}
p.footer {
  color: #808080;
}
p.footer a, p.footer a:visited {
  color: #808080;
}
.seg-grid .code {
  background: #f0f0f0;
}

/* Syntax highlighting: light mode */
body .k  { color: #954121 }  /* Keyword: if, for, range, return, defer, etc.  */
body .kc { color: #954121 }  /* Keyword.Constant: nil, true, false */
body .kd { color: #954121 }  /* Keyword.Declaration: func, var, type, struct, map, chan, etc. */
body .kn { color: #954121 }  /* Keyword.Namespace: package, import */
body .nb { color: #954121 }  /* Name.Builtin: make, len, delete, append, etc. */
body .kt { color: #b00040 }  /* Keyword.Type: string, int, byte, error, etc. */
body .m  { color: #666666 }  /* Literal.Number */
body .mf { color: #666666 }  /* Literal.Number.Float */
body .mh { color: #666666 }  /* Literal.Number.Hex */
body .mi { color: #666666 }  /* Literal.Number.Integer */
body .mo { color: #666666 }  /* Literal.Number.Oct */
body .s  { color: #219161 }  /* Literal.String */
body .sc { color: #219161 }  /* Literal.String.Char */
body .gp { color: #000080 }  /* Generic.Prompt: shell prompt */
body .go { color: #808080 }  /* Generic.Output: shell output */
body .c1 { color: #808080 }  /* Comment.Single */


@media (prefers-color-scheme: dark) {
  /* Colors: dark mode */
  body {
    background-color: #1f1f1f;
    color: #dadada;
  }
  .seg-grid .code.empty {
    background: #1f1f1f;
  }
  a, a:visited {
    color: #e4e4e4;
  }
  p.footer {
    color: #898e98;
  }
  p.footer a, p.footer a:visited {
    color: #898e98;
  }
  .seg-grid .code {
    background: #282828;
  }

 
  /* Syntax highlighting: dark mode */
  body .k  { color: #af5a54 }  /* Keyword */
  body .kc { color: #af5a54 }  /* Keyword.Constant */
  body .kd { color: #af5a54 }  /* Keyword.Declaration */
  body .kn { color: #af5a54 }  /* Keyword.Namespace */
  body .nb { color: #af5a54 }  /* Name.Builtin */
  body .kt { color: #b64343 }  /* Keyword.Type */
  body .m  { color: #688ec8 }  /* Literal.Number */
  body .mf { color: #688ec8 }  /* Literal.Number.Float */
  body .mh { color: #688ec8 }  /* Literal.Number.Hex */
  body .mi { color: #688ec8 }  /* Literal.Number.Integer */
  body .mo { color: #688ec8 }  /* Literal.Number.Oct */
  body .s  { color: #718e72 }  /* Literal.String */
  body .sc { color: #718e72 }  /* Literal.String.Char */
  body .gp { color: #8a6ab1 }  /* Generic.Prompt */
  body .go { color: #868686 }  /* Generic.Output */
  body .c1 { color: #868686 }  /* Comment.Single */
}