<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go by Example: Not Found</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go by Example</a></h2>
      <p>Sorry, we couldn't find that! Check out the <a href="./">home page</a>?</p>
{{ template "footer" }}
    </div>
  </body>
</html>
