<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favicon.ico">
  <title>Go by Example</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<!-- Fixed navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Go by Example</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#by-sequence">By Sequence</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">By Category<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          {{range $k, $v := .Categories}}
              <li><a href="#cate-{{$k}}">{{$k}}</a></li>
          {{end}}
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">By Author<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          {{range $k, $v := .Authors}}
              <li><a href="#author-{{$k}}">{{$k}}</a></li>
          {{end}}
          </ul>
        </li>
      </ul>
    </div>
  </div> <!-- container -->
</div>

<div class="container" role="main">
<div class="jumbotron">
  <h2><a href="./">Go by Example</a></h2>
  <p class="lead">
    <a href="http://golang.org">Go</a> is an
    open source programming language designed for
    building simple, fast, and reliable software.
  </p>
  <p class="lead">
    <em>Go by Example</em> is a hands-on introduction
    to Go using annotated example programs. 
  </p>Check out the <a href="hello-world.html">first example</a> or
    browse the full list below.
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 id="by-sequence">Order by release sequence</h3>
    <ol>
    {{range .Seqs}}
      <li><a href="{{.Id}}.html" ><attr title="Category:{{.Category}} by {{.Author}}">
        {{.Name}}</attr></a></li>
    {{end}}
    </ol>
  </div>

  <div class="col-md-4">
    <h3>Order by category</h3>
    {{range $k, $v := .Categories}}
      <h4 id="cate-{{$k}}">{{$k}} ({{len $v}})</h4>
      <ol>
      {{range $v}}
        <li><a href="{{.Id}}.html"><attr title="Category:{{.Category}} by {{.Author}}">
          {{.Name}}</attr></a></li> 
      {{end}}
      </ol>
    {{end}}
  </div>

  <div class="col-md-4">
    <h3>Order by author</h3>
    {{range $k, $v := .Authors}}
      <h4 id="author-{{$k}}">{{$k}} ({{len $v}})</h4>
      <ol>
      {{range $v}}
        <li><a href="{{.Id}}.html"><attr title="Category:{{.Category}} by {{.Author}}">
          {{.Name}}</attr></a></li> 
      {{end}}
      </ol>
    {{end}}
  </div>

</div> <!-- row -->
<div class="row">
  <p class="footer">
    orignal by <a href="mailto:mmcgrana@gmail.com">mmcgrana</a>
    | <a href="https://github.com/dlintw/gobyexample">source</a>
    | <a href="https://github.com/dlintw/gobyexample#license">license</a>
  </p>
</div>

</div> <!-- container -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
  if (window.location.host == "dlintw.github.io") {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1577224-3', 'auto');
    ga('require', 'linkid', 'linkid.js');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  }
</script>
</body>
</html>
<!-- vim:et sw=2 ts=2
-->
